@{
    ViewBag.Title = "AddCity";
}

<h2>AddCity</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>City</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">Country Name</label>
            <hr />  
            <div class="col-md-10">
                <div>
                    @Html.DropDownList("country",
                                                    Model as SelectList,
                                                    "--- Please select ---",
                                                    new { id = "country", @class= "form-control" } )
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="text" class = "form-control" name="cityname" value="" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
